nav {
  position: fixed;
  height: 12vh;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
  font-size: 0.8rem;
}

#logo {
  font-family: 'Bungee', cursive;
  font-size: 2rem;
}

nav div {
  align-self: baseline;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav div h1 {
  padding-top: 0.5rem;
  margin-bottom: 0;
  font-size: 1.5rem;
}

i.fa-solid.fa-angles-down {
  color: #f4cf3e;
  font-size: 1.5rem;
}