.modal {
  border: red 2px solid;
  padding: 0.2em 0.5em;
  align-items: center;
  margin: 0.8em 0;
}

.modal-content {
  display: flex;
  flex-direction: column;
  font-size: 1em;
}

.modal-content p {
  margin: 0;
}

.fa-solid.fa-triangle-exclamation {
  color: red;
}

.close-button {
  border: none;
  align-self: flex-end;
  color: #838078;
  transition: box-shadow 0.3s ease-in-out;
}

.close-button:hover {
  box-shadow: 0 0 5px rgba(85, 80, 80, 0.5);
}

#new-tweet {
  font-size: 14px;
  font-weight: 700;
  color: rgb(85, 80, 80);
  padding: 20px 5px;
}

label {
  display: block;
  margin-bottom: 10px;
  border-bottom: 3px solid rgb(85, 80, 80);
  border-radius: 3px;
  line-height: 2.5;
  font-size: 1.5rem;
}

input[type="text"],
textarea {
  width: 100%;
  height: 0;
  padding: 10px;
  margin-bottom: 10px;
  border: 0;
  background-color: #f4f1ec;
  font-weight: 700;
  color: rgb(85, 80, 80);
  outline: 0;
}

button[type="submit"] {
  background-color: rgb(64, 86, 161);
  color: white;
  font-family: 'Bungee', cursive;
  padding: 5px 10px;
  border: 4px #4056A1 solid;
  border-radius: 3px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

button[type="submit"]:hover {
  box-shadow: 0 0 10px rgba(94, 115, 186, 0.866);
}

button[type="submit"]:active {
  background-color: #062756;
}

form div {
  font-family: 'Bungee', cursive;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.counter--exceeded {
  color: #d34127;
}

.tweet-container {
  margin: 1em 0;
}

.tweet {
  background-color: #f4f1ec;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  margin: 1em 0;
  color: #545149;
  border: 3px solid rgb(85, 80, 80);
  transition: box-shadow 0.3s ease-in-out;
}

.tweet:hover {
  box-shadow: 6px 6px 2px 0px #a5aab8;
}

.tweet header {
  background-color: #f4f1ec;
  color: #545149;
  height: 20%;
  margin: 5px 5px;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
}

.tweet-user-icon {
  height: 50px;
  width: auto;
  padding-right: 0.2em;
}

.tweet header div {
  display: flex;
  align-items: center;
}

.tweet header .user-handle {
  color: #a5aab8;
}

.tweet-content {
  padding: 10px;
  font-size: 2rem;
  margin-top: 0;
}

.tweet footer {
  height: 10%;
  border-top: 3px solid rgb(85, 80, 80);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.icons .fa-flag:hover {
  color: #EBC05C;
}

.icons .fa-retweet:hover {
  color: #EBC05C;
}

.icons .fa-heart:hover {
  color: #EBC05C;
}

.count-exceeded {
  color: #ee492c;
}